@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML{
    scroll-behavior: smooth;
}


/* navigation bar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
}
.navbar ul li a{
    text-decoration: none;
    color:seashell;
    padding: 8px 35px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color:rgb(231, 235, 240);
    color:black;
    box-shadow: 0 0 10px whitesmoke;
}
/*menu button*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* HOME */
#HOME{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: seashell;

}
#HOME::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background: url('bg home.jpg') no-repeat center center/cover;
    height : 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:30%;
    right:100px;
}
.headings{
    font-family: 'permanent marker';
    font-size: 4rem;
    text-align: center;
    margin:40px 20px;
}
#para{
    font-family:'gloria hallelujah';
    font-size:1.5rem;
    text-align:center;
    /*margin: 50px 0px;*/
    font-weight:bolder;
    

}

/* ABOUT */
#ABOUT{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    color:white;
    background: url('b.jpg')no-repeat center center/cover;
    

}
.flex{
    display:flex;
    
}


.pic  {
    width: 400px;
    height: 800px;
    /*margin:50px 0px 100px 0px;*/
    padding-left: 100px;   
}

.container{	
    transition: transform .2s;
}
.container:hover{
	transform:  scale(1.2);
}
.p{
    margin-left: 100px;
}
.skills{
    color:white;
    font-size:large;
    align-items: left;
}
.progress {
    width: 200px;
    height: 50px;
    
}
  
.progress::-webkit-progress-value {
    background:violet;
}


#intro{
    display:flex;
    flex-direction: column;
    text-align:left;
    padding-left: 100px;
    font-size:large;
    font-weight: bold;
    font-family:'gloria hallelujah', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    margin-top: 0px;
    padding:0%;
    /*background-color: rgb(154, 109, 196);*/
    width:600px;


}

/* interests */
#INTERESTS{
    display:flex;
    flex-direction: column;
    color:white;
    background: url('b.jpg')no-repeat center center/cover;}

.heads{
    font-family: "ubuntu";
    font-size: 3rem;
    text-align: left;
    color:floralwhite;
}
.cont{
    font-family:'gloria hallelujah';
    font-size: 1.2rem;
    text-align: center;
    padding-left: 50px;
    
}
.box1{
    background-color:rgb(184, 84, 235);
    margin-right: 750px;
    border-radius: 10%;
}

.box2{
    background-color: rgb(211, 145, 245);
    margin-left:750px;
    border-radius: 10%;
    
}
.box2:hover, .box1:hover{
    transition: 0.2s ease-in-out;
    background:rgb(99, 83, 240);
    color:rgb(203, 237, 241);
    box-shadow: 0 0 50px whitesmoke;

}

    




/* contact */
#CONTACT{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background: url('b.jpg')no-repeat center center/cover;
    color:white;
    padding:20px;
}
.para{
    font-size: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align:center;
    text-shadow: ivory;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding:12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin:15px;
    border:none;
    outline:none;
}
#send{
    background-color:deepskyblue;
    color:black;
    font-size: 1.2rem;
    border-radius: 10%;
    border-style: hidden;
}
#send:hover{
    cursor: pointer;
    box-shadow:0 0 10px white;
    
}









